/* COMPONENT STYLING */
body {
    height: 100%;
    background-color: #fffdd0;
    background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}

nav {
    background-color: #FFFDD0;
    border-bottom: #5c3733 2px solid;
}
/* CLASS STYLING */
nav>.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.nav-item {
    text-decoration: none;
    text-transform: uppercase;
    color: #5c3733;
    font-size: 1.2rem;
    font-weight: bold;
}
.nav-item:hover {
    opacity: 0.8;
    color: #5c3733;
}
.navbar-brand {
    width: 5%;
    margin-left: 40%;
}
.navbar-brand:hover {
    opacity: 0.8;
}
.container img {
   height: 300%;
   width: 300%;
}
.container h1 {
    color: #5c3733;
    text-align: center;
}
h1,h2,h3,h4,h5,h6 {
    color: #5c3733;
}
/* BUTTON STYLING */
input[type=submit] {
    background: #5c3733;
    color: #FFFDD0;
    border: #5c3733 2px solid;
}
input[type=submit]:hover {
    background: #FFFDD0;
    color: #5c3733;
}
input[type=button] {
    background: #5c3733;
    color: #FFFDD0;
    border: #5c3733 2px solid;
}
input[type=button]:hover {
    background: #FFFDD0;
    color: #5c3733;
}
.btn {
    background: #5c3733;
    color: #FFFDD0;
    border: #5c3733 2px solid;
}
.btn:hover {
    background: #FFFDD0;
    color: #5c3733;
    border: #5c3733 2px solid;
}
/* OUTSOURCED PART FORM */
.outsourced-part-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.outsourced-part-form label {
    color: #5c3733;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}
.outsourced-part-form ul {
    list-style-type: none;
    background: red;
    color: white;
}
.btn-to-mainscreen-outsourced {
    text-decoration: none;
    background: #5c3733;
    color: #FFFDD0;
    border: #5c3733 2px solid;
}
.btn-to-mainscreen-outsourced:hover {
    background: #FFFDD0;
    color: #5c3733;
}
/* PRODUCT FORM */
.product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* INHOUSE PART FORM */
.inhouse-part-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.inhouse-part-form label {
    color: #5c3733;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}
.inhouse-part-form ul {
    list-style-type: none;
    background: red;
    color: white;
}
.btn-to-mainscreen-inhouse {
    text-decoration: none;
    background: #5c3733;
    color: #FFFDD0;
    border: #5c3733 2px solid;
}
.btn-to-mainscreen-inhouse:hover {
    background: #FFFDD0;
    color: #5c3733;
}
/* ABOUT SCREEN */
.aboutscreen-template {
    height: 100%;
    width: 100%;
}
.aboutscreen-template>.container {
    height: 50%;
    width: 50%;
}
.aboutscreen-template>.container h1 {
    color: #5c3733;
    text-align: center;
    margin-top: 3%;
}
.aboutscreen-template>.container img {
    display: block;
    margin: 2% auto;
    align-self: center;
    height: 75%;
    width: 85%;
}
.aboutscreen-template>.container p {
    color: #5c3733;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}