<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Failure</title>
    <!-- Local CSS -->
    <link href="/css/demo.css" rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="failure-form">
<h1>Woodruff Bicycle Shop</h1>
<br>
<h2>Purchase unsuccessful!</h2>
<p>There are 0 in stock.</p>



<footer><a th:href="@{/mainscreen}">Link to Main Screen</a></footer>
</body>
</html>